<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.framework.dao.UserDao">
    <select id="userInfo" parameterType="com.framework.pojo.query.UserQuery" resultType="com.framework.pojo.User">
        select *
        from test.user
        <where>
            <if test="name != null and name != ''">
                and `name` like concat('%',#{name},'%')
            </if>
        </where>
    </select>

    <select id="userCreated" parameterType="com.framework.pojo.User" resultType="com.framework.pojo.User">
        INSERT INTO test.user (name,pwd) VALUES (#{name},#{pwd})
    </select>

    <select id="userDeleteById" parameterType="java.lang.Integer" >
        DELETE FROM `user`
            <where>
                <if test="id!=null and id!=''">
                    id=#{id}
                </if>
            </where>
    </select>

</mapper>